WCFDemoSvcGUICli/Service References/DemoServiceSesAClient/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DemoServiceSesA" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDemoSvcSesA_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDemoSvcSesA_GetHostName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHostName" />
  </wsdl:message>
  <wsdl:message name="IDemoSvcSesA_GetHostName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHostNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoSvcSesA_Echo_InputMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="IDemoSvcSesA_Echo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoSvcSesA_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IDemoSvcSesA_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoSvcSesA_GetHostTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHostTime" />
  </wsdl:message>
  <wsdl:message name="IDemoSvcSesA_GetHostTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHostTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoSvcSesA_IncrementCounter_InputMessage">
    <wsdl:part name="parameters" element="tns:IncrementCounter" />
  </wsdl:message>
  <wsdl:message name="IDemoSvcSesA_IncrementCounter_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncrementCounterResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoSvcSesA_GetCounter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCounter" />
  </wsdl:message>
  <wsdl:message name="IDemoSvcSesA_GetCounter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCounterResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoSvcSesA_DecrementCounter_InputMessage">
    <wsdl:part name="parameters" element="tns:DecrementCounter" />
  </wsdl:message>
  <wsdl:message name="IDemoSvcSesA_DecrementCounter_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecrementCounterResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoSvcSesA_Delay_InputMessage">
    <wsdl:part name="parameters" element="tns:Delay" />
  </wsdl:message>
  <wsdl:message name="IDemoSvcSesA_Delay_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelayResponse" />
  </wsdl:message>
  <wsdl:portType name="IDemoSvcSesA">
    <wsdl:operation name="GetHostName">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoSvcSesA/GetHostName" message="tns:IDemoSvcSesA_GetHostName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoSvcSesA/GetHostNameResponse" message="tns:IDemoSvcSesA_GetHostName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoSvcSesA/Echo" message="tns:IDemoSvcSesA_Echo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoSvcSesA/EchoResponse" message="tns:IDemoSvcSesA_Echo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoSvcSesA/Ping" message="tns:IDemoSvcSesA_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoSvcSesA/PingResponse" message="tns:IDemoSvcSesA_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHostTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoSvcSesA/GetHostTime" message="tns:IDemoSvcSesA_GetHostTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoSvcSesA/GetHostTimeResponse" message="tns:IDemoSvcSesA_GetHostTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncrementCounter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoSvcSesA/IncrementCounter" message="tns:IDemoSvcSesA_IncrementCounter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoSvcSesA/IncrementCounterResponse" message="tns:IDemoSvcSesA_IncrementCounter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCounter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoSvcSesA/GetCounter" message="tns:IDemoSvcSesA_GetCounter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoSvcSesA/GetCounterResponse" message="tns:IDemoSvcSesA_GetCounter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DecrementCounter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoSvcSesA/DecrementCounter" message="tns:IDemoSvcSesA_DecrementCounter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoSvcSesA/DecrementCounterResponse" message="tns:IDemoSvcSesA_DecrementCounter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delay">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoSvcSesA/Delay" message="tns:IDemoSvcSesA_Delay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoSvcSesA/DelayResponse" message="tns:IDemoSvcSesA_Delay_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDemoSvcSesA" type="tns:IDemoSvcSesA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHostName">
      <soap:operation soapAction="http://tempuri.org/IDemoSvcSesA/GetHostName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <soap:operation soapAction="http://tempuri.org/IDemoSvcSesA/Echo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IDemoSvcSesA/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHostTime">
      <soap:operation soapAction="http://tempuri.org/IDemoSvcSesA/GetHostTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncrementCounter">
      <soap:operation soapAction="http://tempuri.org/IDemoSvcSesA/IncrementCounter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCounter">
      <soap:operation soapAction="http://tempuri.org/IDemoSvcSesA/GetCounter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecrementCounter">
      <soap:operation soapAction="http://tempuri.org/IDemoSvcSesA/DecrementCounter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delay">
      <soap:operation soapAction="http://tempuri.org/IDemoSvcSesA/Delay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IDemoSvcSesA" type="tns:IDemoSvcSesA">
    <wsp:PolicyReference URI="#NetTcpBinding_IDemoSvcSesA_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetHostName">
      <soap12:operation soapAction="http://tempuri.org/IDemoSvcSesA/GetHostName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <soap12:operation soapAction="http://tempuri.org/IDemoSvcSesA/Echo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IDemoSvcSesA/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHostTime">
      <soap12:operation soapAction="http://tempuri.org/IDemoSvcSesA/GetHostTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncrementCounter">
      <soap12:operation soapAction="http://tempuri.org/IDemoSvcSesA/IncrementCounter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCounter">
      <soap12:operation soapAction="http://tempuri.org/IDemoSvcSesA/GetCounter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecrementCounter">
      <soap12:operation soapAction="http://tempuri.org/IDemoSvcSesA/DecrementCounter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delay">
      <soap12:operation soapAction="http://tempuri.org/IDemoSvcSesA/Delay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DemoServiceSesA">
    <wsdl:port name="BasicHttpBinding_IDemoSvcSesA" binding="tns:BasicHttpBinding_IDemoSvcSesA">
      <soap:address location="http://localhost:10002/DemoSvc/DemoServiceSesA" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IDemoSvcSesA" binding="tns:NetTcpBinding_IDemoSvcSesA">
      <soap12:address location="net.tcp://localhost:10008/DemoSvc/DemoServiceSesA" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:10008/DemoSvc/DemoServiceSesA</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>MIDDLEEAST\faikb</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>